.first_div {
    color: blue;
}

.second_div {
    color: red;
}

#singled_out {
    color: green;
    text-decoration: line-through;
}

h3 + ul{
    border: 2px dotted red ;
} 

li a{
    color: burlywood;
}

li a[href="https://google.com/"] {
    color: rgb(245, 11, 11);
    border: 3px solid;
}