body {
    /* background-color: grey; */
    background: url(https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg);
    bacqkground-repeat: no-repeat ; 
}

div {
    background-color:rgb(113, 243, 243);
    /* border-width: thick; */
    border-width: 4px;
    border-style: double;
    border-color: rgb(169, 20, 20);
}

p{
    color: rgb(9, 116, 111);
}

span {
    background: #176664;
    background-color: aqua;
}